# Compiled files
*.o
*.a
push_swap
test_push_bottom
test_bit_mantik

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# Test files
*.txt
results*.txt
checker_linux
a.out

# Temporary files
*.log
*.tmp
